<app-navbar></app-navbar>

<!-- for testing -->
<button class="btn-primary btn-lg" hidden (click)="newMessage()"> Click Here </button>

<div class="container-fluid justify-content-center align-content-center midrow m-0 p-0">
    <div class="row">
        <div class="col-1"></div>
        <div class="col w-50 my-3 py-0 ml-5 ">
            <div class="row bg-light ">
                <app-file-uploader class="justify-content-center  text-center align-self-center"></app-file-uploader>
                <app-option class="justify-content-center  text-center align-self-center"></app-option>
            </div>
        </div>

        <div class="col w-50 ">
            <div class="row ">
                <div class="container justify-content-center text-center align-self-center px-0">
                    <img src="../../../assets/img/background-img.svg" alt="bg-img" class="img-fluid bgimg">
                </div>
            </div>
        </div>
    </div>
</div>

<footer class="fixed-bottom">
    <app-footer></app-footer>
</footer>