<div class="container-fluid">
    <app-navbar></app-navbar>
    <div class="row d-flex justify-content-around">
        <div class="col-5">
            <div class="bg-light">
                <div class="">
                    <app-file-uploader (filesUploaded)="onFileUploaded($event)"></app-file-uploader>
                </div>
                <div class="">
                    <app-option (optionsSelected)="onSelection($event)"></app-option>
                </div>
            </div>
            <app-slider hidden></app-slider>
        </div>
        <div class="col-5">
            <div class="img-container">
                <img src="../../../assets/img/background-img.svg" alt="bg-img" class="img-fluid bgimg">
            </div>
            <app-slider hidden></app-slider>
        </div>
    </div>
    <footer class="fixed-bottom">
        <app-footer [file]="file"></app-footer>
    </footer>
</div>