<div class="container-fluid">
    <app-navbar></app-navbar>
    <div class="row d-flex justify-content-around">
        <div class="col-5">
            <div class="bg-light" *ngIf="!mriImage">
                <div>
                    <app-file-uploader (filesUploaded)="onFileUploaded($event)"></app-file-uploader>
                </div>
                <div>
                    <app-option (optionsSelected)="onSelection($event)"></app-option>
                </div>
            </div>
            <app-scanviewer *ngIf="mriImage" [name]="'MRI'" [imageFiles]="mriImageFiles" [totalSliceNumber]="mriTotalSliceNumber" ></app-scanviewer>
        </div>
        <div class="col-5">
            <div class="img-container" *ngIf="!petImage">
                <img src="../../../assets/img/background-img.svg" alt="bg-img" class="img-fluid bgimg">
            </div>
            <app-scanviewer *ngIf="petImage" [name]="'PET'" [imageFiles]="petImageFiles" [totalSliceNumber]="petTotalSliceNumber" ></app-scanviewer>
        </div>
    </div>
    <footer class="fixed-bottom">
        <app-footer [file]="file" [petUploaded]="petUploaded" [petURL]="petURL" [processStatus]='processStatus' (deleteFile)="deleteFiles($event)"></app-footer>
    </footer>
</div>