.container-fluid {
    display: flex;
    flex-direction: column;
    vertical-align: middle;
}

.bg-light{
    background: #F0F3FC;
    border-radius: 1rem;
    overflow-wrap: break-word;
    width: 75%;
    height: 68vh ;
    margin: 0 auto;

} 

.midrow{
    height: 72vh;
}

.bgimg{
    padding: 1em;
    max-height: 65vh;
    margin: 0 auto;
     
}

footer{
    height: 11.5vh;
    
}


