/* You can add global styles to this file, and also import other style files */
/* @import "./styles/bootstrap/css/bootstrap.min.css"; */
html {
  height: 100%;
}
body {
  font-family: "Poppins", sans-serif;
  overflow: hidden;
  height: 100vh;
}

.section-head {
  font-weight: 600;
  padding-top: 20px;
  padding-bottom: 15px;
}

.overview-head {
  font-weight: 600;
  font-style: bold;
  font-size: 25px;
  margin-bottom: 0px;
}

.overview-content {
  font-size: 13px;
  font-weight: 300;
}
