<div class="container-fluid image-card">
    <div class="row">
        <div class="col text-center">
            <p class="h4 p-0 m-1">{{ name }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col slider_img">
            <app-img-base64 [base64Image]='currentImage'></app-img-base64>
        </div>
    </div>
    <div class="row d-flex justify-content-center">
        <div class="col-10">
            <mat-slider thumbLabel step="1" [min]="0" [max]="totalSliceNumber" aria-label="units" [value]="currentSliceNumber" (change)="onSliderChange($event)">
            </mat-slider>
        </div>  
    </div>
</div>