 <div class="toggle justify-content-center  text-center align-self-center" >
    <p class="h5">Options</p>
	<table class="table table-sm table-borderless">
		<tbody>
			<tr>
				<td>Denoise</td>
				<td><mat-slide-toggle id="denoise" (change)="setValue($event)" [checked]="process_options.denoise"></mat-slide-toggle></td>
			</tr>
			<tr>
				<td>Skull Strip</td>
				<td><mat-slide-toggle id="skull_strip" (change)="setValue($event)" [checked]="process_options.skull_strip"></mat-slide-toggle></td>
			</tr>
			<tr>
				<td>Bias Correction</td>
				<td><mat-slide-toggle id="bais_correction" (change)="setValue($event)" [checked]="process_options.bias_correction"></mat-slide-toggle></td>
			</tr>
		</tbody>
	</table>
</div> 